# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sql
*.sqlite

# IDEs and editors
.idea/
.vscode/
*.iml

# others
results/
res_diff/
plabels/
partial_models/weights/
data/CIFAR10/
data/CIFAR100/
data/FLOWER102/
data/PET37/
data/FMNIST/